//——————————————————————————————————————————————————————————————————————————————
// Common Design: Header Logo
//——————————————————————————————————————————————————————————————————————————————

// Wrap the logo in a h1 if it's the main heading for the page (e.g. on homepage).
.cd-site-header h1 {
  margin: 0;
}

.cd-site-logo {
  $logo-height: 42;

  display: block;
  // original: 348x97, but must fit header bar of 60px height plus some space.
  width: 348px * $logo-height / 97;
  height: $logo-height + px;
  background: url('../img/humanitarian-events-logo.svg') center no-repeat;
  background-size: contain;
  float: left;

  .cssgrid.flexbox & {
    float: none;
    align-self: center;
  }

  // Frontpage behaves differently than Calendar pages and doesn't seem to pick
  // up the flexbox `align-self` property. Manually adjust...
  .front & {
    margin-top: ($cd-site-header-height - $logo-height) / 2;
  }
}
