#locale-translation-filter-form .form-item-context {
  float: left;
  padding-right: .8em;
  margin: 0.1em;
  width: 15em;
}

#locale-translate-export-po-form .form-item-context select,
#locale-translate-export-pot-form .form-item-context select {
  width: 15em;
}
