/**
 * Clearfix  mixin
 *
 * Usage:
 * .my-class {
 *   @include clearfix;
 * }
 *
 * Results in:
 * .my-class {
 *    &:after {
 *     content: " ";
 *     display: table;
 *     clear: both;
 *   }
 * }
 *
 */
/**
 * Font size mixin
 *
 * Converts pixel size to rems with pixel fallback.
 *
 * Requires the $base-font-size variable to be set for the project, this should be the body font size.
 *
 * Usage:
 * @include font-size(14);
 *
 * Results in (with a $base-font-size of 18):
 * font-size: 14px;
 * font-size: 0.77777778rem
 *
 */
/**
 * Media query mixin
 *
 * Sets min-width media queries at specified breakpoints
 *
 * Usage:
 * @include media-query(sm) {
 *   // content
 * }
 *
 * Results in:
 * @media min-width: 1200px {
 *   // content
 * }
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

html, input {
  font-size: 87.5%; }

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-size: 1rem;
  color: #232323;
  line-height: 1.5;
  background: white; }

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-weight: bold; }

h1 {
  color: #007ac0;
  font-size: 20px;
  font-size: 1.4285714286rem;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, p, ol, ul {
  margin-bottom: 8px; }

a {
  color: #0d6084; }
  a:hover, a:focus {
    color: #007ac0;
    text-decoration: none; }

ol, ul {
  list-style: initial;
  margin-left: 24px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%;
  height: auto; }

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    font-size: 2.5714285714rem; }
  h2 {
    font-size: 20px;
    font-size: 1.4285714286rem; }
  h1, h2, h3, h4, h5, p, ol, ul {
    margin-bottom: 16px; } }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 1200px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }

.row {
  margin-right: -16px;
  margin-left: -16px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 0) {
  .col-xs-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xs-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xs-3 {
    float: left;
    width: 25%; }
  .col-xs-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xs-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xs-6 {
    float: left;
    width: 50%; }
  .col-xs-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xs-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xs-9 {
    float: left;
    width: 75%; }
  .col-xs-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xs-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xs-12 {
    float: left;
    width: 100%; }
  .pull-xs-0 {
    right: auto; }
  .pull-xs-1 {
    right: 8.3333333333%; }
  .pull-xs-2 {
    right: 16.6666666667%; }
  .pull-xs-3 {
    right: 25%; }
  .pull-xs-4 {
    right: 33.3333333333%; }
  .pull-xs-5 {
    right: 41.6666666667%; }
  .pull-xs-6 {
    right: 50%; }
  .pull-xs-7 {
    right: 58.3333333333%; }
  .pull-xs-8 {
    right: 66.6666666667%; }
  .pull-xs-9 {
    right: 75%; }
  .pull-xs-10 {
    right: 83.3333333333%; }
  .pull-xs-11 {
    right: 91.6666666667%; }
  .pull-xs-12 {
    right: 100%; }
  .push-xs-0 {
    left: auto; }
  .push-xs-1 {
    left: 8.3333333333%; }
  .push-xs-2 {
    left: 16.6666666667%; }
  .push-xs-3 {
    left: 25%; }
  .push-xs-4 {
    left: 33.3333333333%; }
  .push-xs-5 {
    left: 41.6666666667%; }
  .push-xs-6 {
    left: 50%; }
  .push-xs-7 {
    left: 58.3333333333%; }
  .push-xs-8 {
    left: 66.6666666667%; }
  .push-xs-9 {
    left: 75%; }
  .push-xs-10 {
    left: 83.3333333333%; }
  .push-xs-11 {
    left: 91.6666666667%; }
  .push-xs-12 {
    left: 100%; }
  .offset-xs-1 {
    margin-left: 8.3333333333%; }
  .offset-xs-2 {
    margin-left: 16.6666666667%; }
  .offset-xs-3 {
    margin-left: 25%; }
  .offset-xs-4 {
    margin-left: 33.3333333333%; }
  .offset-xs-5 {
    margin-left: 41.6666666667%; }
  .offset-xs-6 {
    margin-left: 50%; }
  .offset-xs-7 {
    margin-left: 58.3333333333%; }
  .offset-xs-8 {
    margin-left: 66.6666666667%; }
  .offset-xs-9 {
    margin-left: 75%; }
  .offset-xs-10 {
    margin-left: 83.3333333333%; }
  .offset-xs-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 576px) {
  .col-sm-1 {
    float: left;
    width: 8.3333333333%; }
  .col-sm-2 {
    float: left;
    width: 16.6666666667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.3333333333%; }
  .col-sm-5 {
    float: left;
    width: 41.6666666667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.3333333333%; }
  .col-sm-8 {
    float: left;
    width: 66.6666666667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.3333333333%; }
  .col-sm-11 {
    float: left;
    width: 91.6666666667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.3333333333%; }
  .pull-sm-2 {
    right: 16.6666666667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.3333333333%; }
  .pull-sm-5 {
    right: 41.6666666667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.3333333333%; }
  .pull-sm-8 {
    right: 66.6666666667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.3333333333%; }
  .pull-sm-11 {
    right: 91.6666666667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.3333333333%; }
  .push-sm-2 {
    left: 16.6666666667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.3333333333%; }
  .push-sm-5 {
    left: 41.6666666667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.3333333333%; }
  .push-sm-8 {
    left: 66.6666666667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.3333333333%; }
  .push-sm-11 {
    left: 91.6666666667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.3333333333%; }
  .offset-sm-2 {
    margin-left: 16.6666666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.3333333333%; }
  .offset-sm-5 {
    margin-left: 41.6666666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.3333333333%; }
  .offset-sm-8 {
    margin-left: 66.6666666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.3333333333%; }
  .offset-sm-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.3333333333%; }
  .col-md-2 {
    float: left;
    width: 16.6666666667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-4 {
    float: left;
    width: 33.3333333333%; }
  .col-md-5 {
    float: left;
    width: 41.6666666667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-7 {
    float: left;
    width: 58.3333333333%; }
  .col-md-8 {
    float: left;
    width: 66.6666666667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-10 {
    float: left;
    width: 83.3333333333%; }
  .col-md-11 {
    float: left;
    width: 91.6666666667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.3333333333%; }
  .pull-md-2 {
    right: 16.6666666667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.3333333333%; }
  .pull-md-5 {
    right: 41.6666666667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.3333333333%; }
  .pull-md-8 {
    right: 66.6666666667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.3333333333%; }
  .pull-md-11 {
    right: 91.6666666667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.3333333333%; }
  .push-md-2 {
    left: 16.6666666667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.3333333333%; }
  .push-md-5 {
    left: 41.6666666667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.3333333333%; }
  .push-md-8 {
    left: 66.6666666667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.3333333333%; }
  .push-md-11 {
    left: 91.6666666667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.3333333333%; }
  .offset-md-2 {
    margin-left: 16.6666666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.3333333333%; }
  .offset-md-5 {
    margin-left: 41.6666666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.3333333333%; }
  .offset-md-8 {
    margin-left: 66.6666666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.3333333333%; }
  .offset-md-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1025px) {
  .col-lg-1 {
    float: left;
    width: 8.3333333333%; }
  .col-lg-2 {
    float: left;
    width: 16.6666666667%; }
  .col-lg-3 {
    float: left;
    width: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.3333333333%; }
  .col-lg-5 {
    float: left;
    width: 41.6666666667%; }
  .col-lg-6 {
    float: left;
    width: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.3333333333%; }
  .col-lg-8 {
    float: left;
    width: 66.6666666667%; }
  .col-lg-9 {
    float: left;
    width: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.3333333333%; }
  .col-lg-11 {
    float: left;
    width: 91.6666666667%; }
  .col-lg-12 {
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.3333333333%; }
  .pull-lg-2 {
    right: 16.6666666667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.3333333333%; }
  .pull-lg-5 {
    right: 41.6666666667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.3333333333%; }
  .pull-lg-8 {
    right: 66.6666666667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.3333333333%; }
  .pull-lg-11 {
    right: 91.6666666667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.3333333333%; }
  .push-lg-2 {
    left: 16.6666666667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.3333333333%; }
  .push-lg-5 {
    left: 41.6666666667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.3333333333%; }
  .push-lg-8 {
    left: 66.6666666667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.3333333333%; }
  .push-lg-11 {
    left: 91.6666666667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .offset-lg-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xl-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xl-3 {
    float: left;
    width: 25%; }
  .col-xl-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xl-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xl-6 {
    float: left;
    width: 50%; }
  .col-xl-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xl-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xl-9 {
    float: left;
    width: 75%; }
  .col-xl-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xl-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xl-12 {
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.3333333333%; }
  .pull-xl-2 {
    right: 16.6666666667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.3333333333%; }
  .pull-xl-5 {
    right: 41.6666666667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.3333333333%; }
  .pull-xl-8 {
    right: 66.6666666667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.3333333333%; }
  .pull-xl-11 {
    right: 91.6666666667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.3333333333%; }
  .push-xl-2 {
    left: 16.6666666667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.3333333333%; }
  .push-xl-5 {
    left: 41.6666666667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.3333333333%; }
  .push-xl-8 {
    left: 66.6666666667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.3333333333%; }
  .push-xl-11 {
    left: 91.6666666667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .offset-xl-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1400px) {
  .col-xxl-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xxl-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xxl-3 {
    float: left;
    width: 25%; }
  .col-xxl-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xxl-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xxl-6 {
    float: left;
    width: 50%; }
  .col-xxl-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xxl-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xxl-9 {
    float: left;
    width: 75%; }
  .col-xxl-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xxl-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xxl-12 {
    float: left;
    width: 100%; }
  .pull-xxl-0 {
    right: auto; }
  .pull-xxl-1 {
    right: 8.3333333333%; }
  .pull-xxl-2 {
    right: 16.6666666667%; }
  .pull-xxl-3 {
    right: 25%; }
  .pull-xxl-4 {
    right: 33.3333333333%; }
  .pull-xxl-5 {
    right: 41.6666666667%; }
  .pull-xxl-6 {
    right: 50%; }
  .pull-xxl-7 {
    right: 58.3333333333%; }
  .pull-xxl-8 {
    right: 66.6666666667%; }
  .pull-xxl-9 {
    right: 75%; }
  .pull-xxl-10 {
    right: 83.3333333333%; }
  .pull-xxl-11 {
    right: 91.6666666667%; }
  .pull-xxl-12 {
    right: 100%; }
  .push-xxl-0 {
    left: auto; }
  .push-xxl-1 {
    left: 8.3333333333%; }
  .push-xxl-2 {
    left: 16.6666666667%; }
  .push-xxl-3 {
    left: 25%; }
  .push-xxl-4 {
    left: 33.3333333333%; }
  .push-xxl-5 {
    left: 41.6666666667%; }
  .push-xxl-6 {
    left: 50%; }
  .push-xxl-7 {
    left: 58.3333333333%; }
  .push-xxl-8 {
    left: 66.6666666667%; }
  .push-xxl-9 {
    left: 75%; }
  .push-xxl-10 {
    left: 83.3333333333%; }
  .push-xxl-11 {
    left: 91.6666666667%; }
  .push-xxl-12 {
    left: 100%; }
  .offset-xxl-0 {
    margin-left: 0%; }
  .offset-xxl-1 {
    margin-left: 8.3333333333%; }
  .offset-xxl-2 {
    margin-left: 16.6666666667%; }
  .offset-xxl-3 {
    margin-left: 25%; }
  .offset-xxl-4 {
    margin-left: 33.3333333333%; }
  .offset-xxl-5 {
    margin-left: 41.6666666667%; }
  .offset-xxl-6 {
    margin-left: 50%; }
  .offset-xxl-7 {
    margin-left: 58.3333333333%; }
  .offset-xxl-8 {
    margin-left: 66.6666666667%; }
  .offset-xxl-9 {
    margin-left: 75%; }
  .offset-xxl-10 {
    margin-left: 83.3333333333%; }
  .offset-xxl-11 {
    margin-left: 91.6666666667%; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.view-calendar, .view-hr-events-calendar {
  margin-top: 16px; }

.view .date-nav-wrapper .pager {
  margin-top: 8px; }

.view .date-nav-wrapper .date-nav {
  margin-bottom: 0;
  padding-bottom: 0; }

.view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
  border-radius: 0;
  background: none;
  margin: 0 16px;
  position: relative;
  right: auto;
  text-align: center; }
  .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    font-size: 1rem; }
    .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-prev a:focus, .view .date-nav-wrapper .date-next a:hover, .view .date-nav-wrapper .date-next a:focus {
      color: #007ac0; }

.view .date-nav-wrapper .date-prev a {
  background-image: url("../images/arrow-left.svg");
  padding-left: 16px; }

.view .date-nav-wrapper .date-next a {
  background-image: url("../images/arrow-right.svg");
  background-position: right center;
  padding-right: 16px; }

.calendar-calendar th.days {
  background: #ecf1f4;
  color: #0d6084;
  text-transform: uppercase;
  border-bottom: 1px solid #0d6084;
  padding: 8px 0; }

.calendar-calendar td {
  color: #232323;
  text-align: center; }
  .calendar-calendar td .inner div.day a {
    color: #0d6084; }
  .calendar-calendar td.empty {
    color: #767676; }
  .calendar-calendar td.calendar-agenda-hour {
    text-align: center; }

.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background: none;
  color: #0d6084;
  font-weight: bold; }

.calendar-calendar table td.has-events {
  background: #ecf1f4; }
  .calendar-calendar table td.has-events a {
    font-weight: bold;
    text-decoration: none; }

.calendar-calendar .year-view td {
  width: 100%;
  display: block; }
  .calendar-calendar .year-view td td {
    display: table-cell; }

.calendar-calendar .year-view .month-view {
  margin: 0 0 16px 0; }

.calendar-calendar .year-view div.month-view div.date-nav {
  background: none;
  padding: 8px;
  text-transform: uppercase; }
  .calendar-calendar .year-view div.month-view div.date-nav a {
    color: #007ac0; }

.calendar-calendar .week-view th.days {
  border-top: 0; }

.calendar-calendar .day-view .full td .inner div.calendar div,
.calendar-calendar .day-view .full td .inner div.calendar div a {
  margin: 0; }

.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .month-view .full td.single-day div.weekview, .calendar-calendar .month-view .full td.single-day div.dayview, .calendar-calendar .month-view .full div.single-day div.monthview, .calendar-calendar .month-view .full div.single-day div.weekview, .calendar-calendar .month-view .full div.single-day div.dayview, .calendar-calendar .week-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .week-view .full td.single-day div.dayview, .calendar-calendar .week-view .full div.single-day div.monthview, .calendar-calendar .week-view .full div.single-day div.weekview, .calendar-calendar .week-view .full div.single-day div.dayview, .calendar-calendar .day-view .full td.single-day div.monthview, .calendar-calendar .day-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview, .calendar-calendar .day-view .full div.single-day div.monthview, .calendar-calendar .day-view .full div.single-day div.weekview, .calendar-calendar .day-view .full div.single-day div.dayview {
  background: #ecf1f4;
  border-radius: 0;
  border-color: #abc1cf;
  padding: 4px;
  font-size: 12px;
  font-size: 0.8571428571rem; }

.calendar-calendar .month-view .full tr td.single-day.today,
.calendar-calendar .month-view .full td.date-box.today, .calendar-calendar .week-view .full tr td.single-day.today,
.calendar-calendar .week-view .full td.date-box.today, .calendar-calendar .day-view .full tr td.single-day.today,
.calendar-calendar .day-view .full td.date-box.today {
  border-color: #007ac0 !important; }

.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty, .calendar-calendar .week-view .full td.single-day .calendar-empty,
.calendar-calendar .week-view .full td.single-day.empty,
.calendar-calendar .week-view .full td.date-box.empty, .calendar-calendar .day-view .full td.single-day .calendar-empty,
.calendar-calendar .day-view .full td.single-day.empty,
.calendar-calendar .day-view .full td.date-box.empty {
  background: white; }

.calendar-calendar .month-view .full div.single-day .i_0 .view-item .calendar, .calendar-calendar .week-view .full div.single-day .i_0 .view-item .calendar, .calendar-calendar .day-view .full div.single-day .i_0 .view-item .calendar {
  margin-left: 2px; }

.calendar-calendar .month-view table, .calendar-calendar .week-view table {
  table-layout: fixed; }
  .calendar-calendar .month-view table th, .calendar-calendar .month-view table td, .calendar-calendar .week-view table th, .calendar-calendar .week-view table td {
    width: 14.2857142857%; }
  .calendar-calendar .month-view table td.single-day div.monthview, .calendar-calendar .week-view table td.single-day div.monthview {
    margin-bottom: 4px; }
  .calendar-calendar .month-view table .views-field-title a, .calendar-calendar .week-view table .views-field-title a {
    display: block;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.4; }
  .calendar-calendar .month-view table .views-field-field-event-date, .calendar-calendar .week-view table .views-field-field-event-date {
    display: none; }

.calendar-calendar .week-view, .calendar-calendar .day-view {
  border: 1px solid #ccc; }
  .calendar-calendar .week-view #multi-day-container, .calendar-calendar .week-view #single-day-container, .calendar-calendar .day-view #multi-day-container, .calendar-calendar .day-view #single-day-container {
    border: 0; }
    .calendar-calendar .week-view #multi-day-container td.calendar-time-holder, .calendar-calendar .week-view #single-day-container td.calendar-time-holder, .calendar-calendar .day-view #multi-day-container td.calendar-time-holder, .calendar-calendar .day-view #single-day-container td.calendar-time-holder {
      width: 60px; }
  .calendar-calendar .week-view .header-body-divider,
  .calendar-calendar .week-view .single-day-footer, .calendar-calendar .day-view .header-body-divider,
  .calendar-calendar .day-view .single-day-footer {
    border: none;
    background: #0d6084;
    height: 5px;
    padding: 2px 0 0 0; }
    .calendar-calendar .week-view .header-body-divider .grippie,
    .calendar-calendar .week-view .single-day-footer .grippie, .calendar-calendar .day-view .header-body-divider .grippie,
    .calendar-calendar .day-view .single-day-footer .grippie {
      background: white;
      opacity: 0.8;
      width: 32px;
      height: 1px;
      margin: 0 auto; }

.calendar-day-holder.margin-right:empty {
  display: none; }

@media (min-width: 576px) {
  .view .date-nav-wrapper .date-nav {
    padding-bottom: 24px; }
  .calendar-calendar .year-view td {
    width: 32%;
    display: table-cell; }
    .calendar-calendar .year-view td .month-view {
      margin: 0 8px 16px 8px; }
  .calendar-calendar .month-view table .views-field-title, .calendar-calendar .week-view table .views-field-title {
    font-size: 12px;
    font-size: 0.8571428571rem; }
    .calendar-calendar .month-view table .views-field-title a, .calendar-calendar .week-view table .views-field-title a {
      height: auto;
      white-space: normal;
      padding-top: 4px !important;
      padding-bottom: 4px !important; } }

@media (min-width: 768px) {
  .view .date-nav-wrapper .date-nav {
    padding-bottom: 32px; }
  .view .date-nav-wrapper .pager {
    position: absolute;
    top: 4px;
    right: 0;
    margin-top: 0; }
  .view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
    margin: 0 0 0 16px; } }

.footer {
  background: #007ac0;
  padding: 8px 0;
  margin-top: 16px;
  color: #FFF;
  font-size: 12px;
  font-size: 0.8571428571rem; }
  .footer p:last-child {
    margin-bottom: 0; }
  .footer a {
    color: #FFF; }

@media (min-width: 576px) {
  .footer {
    padding: 24px 0; } }

.site-header {
  padding-bottom: 16px; }

.site-header__logo {
  display: block;
  width: 154px;
  height: 38px; }

.site-header-top {
  background: #007ac0;
  height: 40px;
  margin-bottom: 16px; }

.site-header-top__nav {
  list-style: none;
  margin: 0;
  text-align: right; }
  .site-header-top__nav li {
    display: inline-block; }
  .site-header-top__nav a {
    color: #FFF;
    text-decoration: none;
    padding: 8px;
    margin-left: 8px;
    height: 100%;
    display: block; }
    .site-header-top__nav a:hover, .site-header-top__nav a:focus {
      text-decoration: underline; }

@media (min-width: 768px) {
  .site-header {
    padding-bottom: 40px; } }

.main-content img {
  display: block;
  width: 80%;
  max-width: 280px;
  margin: 0 auto; }

@media (min-width: 576px) {
  .main-content img {
    float: right;
    max-width: 40%;
    margin: 0; } }

@media (min-width: 768px) {
  .main-content img {
    max-width: 30%; } }

a.skip-link {
  position: absolute;
  left: -99999px;
  color: #FFF;
  font-size: 12px;
  font-size: 0.8571428571rem; }
  a.skip-link:focus {
    left: 0;
    top: 0; }

.tabs.primary {
  border-bottom: 1px solid #0d6084;
  background: #ecf1f4;
  margin: 8px 0;
  padding: 0; }
  .tabs.primary li {
    display: inline-block; }
  .tabs.primary a {
    display: block;
    padding: 8px;
    margin: 0;
    border: none;
    background: #ecf1f4;
    text-transform: uppercase;
    font-weight: bold; }
    .tabs.primary a:hover, .tabs.primary a:focus {
      background: #007ac0;
      color: #FFF; }
    .tabs.primary a.active {
      border: none;
      background: #0d6084;
      color: #FFF; }

@media (min-width: 576px) {
  .tabs.primary a {
    padding: 8px 16px; } }
