button, input[type="submit"] {
	-webkit-appearance: none;
	@include font-size($cd-font-size-small);
	color: $cd-mid-grey;
	background: none;
	border: none;
	box-shadow: none;
}

.btn-primary, input[type="submit"].form-submit {
	border-radius: 4px;
	background: $cd-ocha-blue;
	text-transform: uppercase;
	color: $cd-white;
	padding: $cd-base-unit*1.5;
	transition: background 0.3s ease;

	&:hover, &:focus {
		background: darken($cd-ocha-blue, 10%);
	}
}

.form-submit {
	@extend .btn-primary;

	&+.form-submit {
		margin-left: $cd-base-unit;
	}
}

.btn-icon {
	padding: 0;
	@include font-size($cd-font-size-tiny);
	text-transform: uppercase;
	color: $cd-ocha-blue;
	display: flex;
	align-items: center;
	line-height: 22px;
	cursor: pointer;

	i {
		@include font-size(20);
		margin-right: 2px;
	}
}
