.view-calendar, .view-hr-events-calendar {
	margin-top: $base-unit*2;
}

.view {

	.date-nav-wrapper {

		.pager {
			margin-top: $base-unit;
		}

		.date-nav {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.date-prev, .date-next {
			border-radius: 0;	
			background: none;
			margin: 0 $base-unit*2;
			position: relative;
			right: auto;
			text-align: center;

			a {
				background-position: left center;
				background-repeat: no-repeat;
				background-size: $base-unit*2;
				text-transform: uppercase;
				margin: 0;
				display: inline-block;
				line-height: 1;
				@include font-size($base-font-size);

				&:hover, &:focus {
					color: $primary-color;
				}
			}
		}

		.date-prev {
			a {
				background-image: url('../images/arrow-left.svg');
				padding-left: $base-unit*2;
			}
		}

		.date-next {
			a {
				background-image: url('../images/arrow-right.svg');
				background-position: right center;
				padding-right: $base-unit*2;
			}
		}

	}
}

.calendar-calendar {

	th.days {
		background: $light-bg;
		color: $dark-blue;
		text-transform: uppercase;
		border-bottom: 1px solid $dark-blue;
		padding: $base-unit 0;
	}

	td {
		color: $body-text-color;
		text-align: center;

		.inner div.day a {
			color: $link-text-color;
		}

		&.empty {
			color: $grey-text;
		}

		&.calendar-agenda-hour {
			text-align: center;
		}

	}

	tr td.today, 
	tr.odd td.today, 
	tr.even td.today {
		background: none;
		color: $dark-blue;
		font-weight: bold;
	}

	table td.has-events {
		background: $light-bg;

		a {
			font-weight: bold;
			text-decoration: none;
		}
	}

	.year-view {
		td {
			width: 100%;
			display: block;

			td {
				display: table-cell;
			}
		}

		.month-view {
			margin: 0 0 $base-unit*2 0;
		}

		div.month-view div.date-nav {
			background: none;
			padding: $base-unit;
			text-transform: uppercase;
			
			a {
				color: $primary-color;
			}
		}
	}

	.month-view {

	}

	.week-view {
		th.days {
			border-top: 0;
		}
	}

	.day-view {
		.full td .inner div.calendar div, 
		.full td .inner div.calendar div a {
			margin: 0;
		}
	}

	.month-view, .week-view, .day-view {
		.full {

			td.single-day, div.single-day {
				div.monthview, div.weekview, div.dayview {
					background: $light-bg;
					border-radius: 0;
					border-color: darken($light-bg, 20%);
					padding: $base-unit/2;
					@include font-size($small-font-size);
				}


			}

			tr td.single-day.today,
			td.date-box.today {
				border-color: $primary-color!important;
			}

			td.single-day .calendar-empty,
			td.single-day.empty,
			td.date-box.empty {
				background: white;
			}

			div.single-day {
				.i_0 .view-item .calendar {
					margin-left: 2px;
				}
			}
		}
	}

	.month-view, .week-view {
		table {
			table-layout: fixed;

			th, td {
				width: percentage(1/7);
			}

			td.single-day div.monthview {
				margin-bottom: $base-unit/2;
			}

			.views-field-title {
				a {
					display: block;
					height: 14px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					line-height: 1.4;
				}
			}

			.views-field-field-event-date {
				display: none;
			}
		}
	}

	.week-view, .day-view {
		border: 1px solid #ccc;
	
		#multi-day-container, #single-day-container {
			border: 0;

			td.calendar-time-holder {
				width: 60px;
			}
		}

		.header-body-divider,
		.single-day-footer {
			border: none;
			background: $dark-blue;
			height: 5px;
			padding: 2px 0 0 0;

			.grippie {
				background: white;
				opacity: 0.8;
				width: $base-unit*4;
				height: 1px;
				margin: 0 auto;
			}
		}
	}
	
}

.calendar-day-holder.margin-right:empty {
	display: none;
}

@include media-query(sm) {

	.view {

		.date-nav-wrapper {

			.date-nav {
				padding-bottom: $base-unit*3;
			}

		}

	}

	.calendar-calendar {

		.year-view td {
			width: 32%;
			display: table-cell;

			.month-view {
				margin: 0 $base-unit $base-unit*2 $base-unit;
			}
		}

		.month-view, .week-view  {
			table {
				.views-field-title {
					@include font-size($small-font-size);

					a {
						height: auto;
						white-space: normal;
						padding-top: 4px!important;
						padding-bottom: 4px!important;
					}
				}
			}
		}
	}
}

@include media-query(md) {

	.view {

		.date-nav-wrapper {

			.date-nav {
				padding-bottom: $base-unit*4;
			}

			.pager {
				position: absolute;
				top: $base-unit/2;
				right: 0;
				margin-top: 0;
			}

			.date-prev, .date-next {
				margin: 0 0 0 $base-unit*2;
			}

		}
	}

}
