.open {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  @include z-index(dropdown);;
  display: none;
  min-width: $cd-base-unit*12;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $cd-mid-light-grey;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  .open & {
    display: block;
  }

  li {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border: none;
    }
  }

  a {
    display: block;
  }

  button {
    border: none;
    background: none;
  }

  a, button {
    width: 100%;
    height: 100%;
    padding: $cd-base-unit 0;

    &:hover, &:focus {
      background: $cd-ocha-blue;
      color: white;
    }
  }
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include z-index(sidebar-underlay);
}
