.node-ev-event {

	.field {
		margin-bottom: $base-unit*2;
		@include clearfix;
	}

	.field-name-field-event-date {
		font-weight: bold;
	}

	.field-label {
		color: $heading-text-color;
		display: block;
		float: none;
	}

	.field-items {
		float: none;
		display: block;
	}

	table {
		table-layout: fixed;
		width: 100%;
		margin-top: $base-unit;
	}

	tr.even, tr.odd {
		background: none;
		padding: 0;
		border: none;
	}

	td {
		width: 100%;
		display: block;
		word-wrap: break-word;
		padding: 0;

		&:first-child {
			font-weight: bold;
		}

		&:last-child {
			padding-bottom: $base-unit;
		}

		img {
			float: left;
			margin-right: $base-unit/2;
		}
	}

}

@include media-query(sm) {

	.node-ev-event {

		.field-label {
			width: $base-unit*17;
			float: left;
		}

		.field-items {
			float: left;
			width: calc(100% - 136px);
			// display: inline-block;
		}

		table {
			border: none;
			margin: 0;
		}

		td {
			display: table-cell;
			width: auto;
			padding: 0 $base-unit $base-unit *2 $base-unit;

			&:first-child {
				width: 120px;
				padding: 0 0 $base-unit 0;
			}
		}

	}

}
