.block-views {
	display: block;
	float: left;
	width: 50%;
	margin-bottom: $base-unit*2;
	padding-right: $base-unit;

  h2 {
		@include font-size($base-font-size);
		margin-bottom: $base-unit/2;
	}

}

.block-views.processed {
	.content .item-list {
     display: none;
  }
}

.block-system {
	clear: both;
	padding-top: $base-unit;
}


@include media-query(sm) {

	.block-views {
		width: 25%;
	}

}
