.block-views {
	display: block;
	float: left;
	width: 50%;
	margin-bottom: $base-unit*2;
	padding-right: $base-unit;

	h2 {
		@include font-size($base-font-size);
		margin-bottom: $base-unit/2;
	}
}

.block-views.processed {
	.content .item-list {
     display: none;
  }
}

.block-system {
	clear: both;
	padding-top: $base-unit;
}

.block-views, .calendar-settings {

	label {
		margin-bottom: $base-unit/2;
	}
}

.calendar-settings {
	background: $light-bg;
	padding: $base-unit;
	margin: $base-unit*2 0;

	 h3, p {
		margin-bottom: $base-unit;
	}

}

@include media-query(sm) {

	.block-views {
		width: 25%;
	}

}
