.block-views {
	display: inline-block;
	width: 25%;
	margin-bottom: $base-unit*3;
	padding-right: $base-unit;

  h2 {
		@include font-size($base-font-size);
		margin-bottom: $base-unit/2;
	}

}

.block-views.processed {
	.content .item-list {
     display: none;
  }
}



