.site-header {
	margin-bottom: $base-unit*2;
}

.site-header__logo {
	display: block;
	width: 140px;
	height: 38px;
	margin: 0;

	img {
		height: 100%;
	}
}

.site-header-top {
	background: $primary-bg-color;
	height: $base-unit*5;
	margin-bottom: $base-unit*2;
}

.site-header-top__nav {
	list-style: none;
	margin: 0;
	text-align: right;

	li {
		display: inline-block
	}

	a {
		color: $light-text-color;
		text-decoration: none;
		padding: $base-unit;
    margin-left: $base-unit;
    height: 100%;
    display: block;

    &.active {
    	color: $light-text-color;
    }

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

@include media-query(sm) {

	.site-header__inner {
		padding: $base-unit 0;
	}

}

@include media-query(md) {

	.site-header__logo {
		width: 200px;
		height: 54px;
	}

}

@media print {

	.site-header {
		margin-bottom: 0!important;
	}

	.site-header-top {
		display: none!important;
	}

	.site-header__logo {
		width: 140px!important;
		height: 38px!important;
	}

}
