.tabs.primary {
	border-bottom: 1px solid $cd-ocha-blue;
	background: $cd-light-grey;
	margin: $cd-base-unit 0;
	padding: 0;
	display: flex;

	li {
		display: inline-block;
	}

	a {
		display: block;
		padding: $cd-base-unit;
		margin: 0;
		border: none;
		background: $cd-light-grey;
		text-transform: uppercase;
		font-weight: bold;

		&:hover, &:focus {
			background: $cd-dark-blue;
			color: $cd-white;
			opacity: 0.8;
		}

		&.active {
			border: none;
			background: $cd-dark-blue;
			color: $cd-white;
		}
	}
}

@include min-width(sm) {

	.tabs.primary {

		a {
			padding: $cd-base-unit $cd-base-unit*2;
		}

	}
}
